# Python
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# Node
frontend/node_modules/
frontend/dist/

# Env
.env
backend/.env

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
